{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_input_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_input_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <p>
            <a href="{{ url('input_create') }}" title="{{ 'action_create'|trans}}">{{ 'action_create'|trans }}</a>
        </p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'input.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_amount'|trans, 'input.amount') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'input.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'input.category.name') }}</th>
                <th>{{ 'label_tags'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for input in pagination.items %}
                <tr>
                    <td>{{ input.id }}</td>
                    <td>{{ input.amount }}</td>
                    <td>{{ input.date|format_date('long') }}</td>
                    <td><a href="{{ url('input_index', {'filters.category_id' : input.category.id}) }}" title="{{ input.category.id }}">{{ input.category.name }}</a></td>
                    <td>
                        {% if input.tags is defined and input.tags|length %}
                            {% for tag in input.tags %}
                                <a href="{{ url('input_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.name }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% if is_granted('VIEW', input) %}
                            <li>
                                <a href="{{ url('input_show', {id: input.id}) }}" title="{{ 'action_view'|trans }}">{{ 'action_view'|trans }}</a>
                            </li>
                            {% endif %}
                            {% if is_granted('EDIT', input) %}
                            <li>
                                <a href="{{ url('input_edit', {id: input.id}) }}" title="{{ 'action_edit'|trans }}">{{ 'action_edit'|trans }}</a>
                            </li>
                            {% endif %}
                            {% if is_granted('DELETE', input) %}
                            <li>
                                <a href="{{ url('input_delete', {id: input.id}) }}" title="{{ 'action_delete'|trans }}">{{ 'action_delete'|trans }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}