{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_input_details'|trans({'%id%': input.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_input_details'|trans({'%id%': input.id|default('')}) }}</h1>
    {% if input is defined and input|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ input.id }}</dd>
            <dt>{{ 'label_wallet_id' }}</dt>
            <dt>{{ 'label_amount'|trans }}</dt>
            <dd>{{ input.amount }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ input.date|format_date('long') }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ input.description }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ input.category.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('input_index') }}" title="{{ 'action_back_to_list'|trans}}">{{ 'action_back_to_list'|trans }}</a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}