{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_record_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_record_list'|trans }}</h1>

    <p>
        <a href="{{ url('wallet_create') }}" title="{{ 'action_create'|trans}}">{{ 'action_create'|trans }}</a>
    </p>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'wallet.id') }}</th>
                <th>{{ 'label_type'|trans }}</th>
                <th>{{ 'label_wallet_currency'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for wallet in pagination.items %}
                <tr>
                    <td>{{ wallet.id }}</td>
                    <td>
                        <a href="{{ url('wallet_index', {'filters' : {'type' : wallet.type.id}}) }}" title="{{ wallet.type.name }}">{{ wallet.type.name }}</a>
                    </td>
                     <td>
                        <a href="{{ url('wallet_index', {'filters' : {'currency' : wallet.currency.id}}) }}" title="{{ wallet.currency.name }}">{{ wallet.currency.name }}</a>
                    </td>
                    <td>
                        <ul>
                            <li>
                                {% if is_granted('VIEW', wallet) %}
                                <a href="{{ url('wallet_show', {id: wallet.id}) }}" title="{{ 'action_view'|trans }}">{{ 'action_view'|trans }}</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('EDIT', wallet) %}
                                <a href="{{ url('wallet_edit', {id: wallet.id}) }}" title="{{ 'action_edit'|trans }}">{{ "action_edit"|trans }}</a>
                                {% endif %}
                            </li>
                            <li>
                                {% if is_granted('DELETE', wallet) %}
                                <a href="{{ url('wallet_delete', {id: wallet.id}) }}" title="{{ 'action_delete'|trans }}">{{ "action_delete"|trans }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
            <p>
                <a href="{{ url('wallet_create') }}" title="{{ 'action_create'|trans}}">{{ 'action_create'|trans }}</a>
            </p>
        {% endif %}
{% endblock %}