{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}</h1>
    {% if wallet is defined and wallet|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>{{ 'label_email'|trans }}</dt>
            <dd>{{ wallet.owner.email }}</dd>
            <dt>{{ 'label_type'|trans }}</dt>
            <dd>{{ wallet.type.name }}</dd>
            <dt>{{ 'label_currency'|trans }}</dt>
            <dd>{{ wallet.currency.name }}</dd>
            <dt>{{ 'label_inputs'|trans }}</dt>
            <dd>
                <ul>
                    {% if wallet.inputs is defined and wallet.inputs|length %}
                        {% for input in wallet.inputs %}
                            <li><a href="{{ url('input_show', {id: input.id}) }}" title="{{ 'action_view'|trans }}">{{ input.amount }}</a></li>
                        {% endfor %}
                    {% else %}
                        &nbsp
                    {% endif %}
                </ul>
            </dd>
            <dt>{{ 'label_balance'|trans }}</dt>
            <dd>{{ 'TODO' }}</dd>
        </dl>
        <p>
            <a href="{{ url('input_create') }}" title="{{ 'action_create_input'|trans }}">{{ 'action_create_input'|trans }}</a>
        </p>
        <p>
            <a href="{{ url('wallet_index') }}" title="{{ 'action_back_to_list'|trans}}">{{ 'action_back_to_list'|trans }}</a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}