{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_type_details'|trans({'%id%': type.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_type_details'|trans({'%id%': type.id|default('')}) }}</h1>
    {% if type is defined and type|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ type.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ type.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('type_index') }}" title="{{ 'action_back_to_list'|trans}}">{{ 'action_back_to_list'|trans }}</a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}