{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_homepage'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_homepage'|trans }}</h1>
  {#  <nav>
        <ul>
            <li>
                <a href="{{ url('app_login') }}" title="{{ 'label_sign_in'|trans }}">{{ 'label_sign_in'|trans }}</a>
            </li>
            <li>
                <a href="{{ url('app_register') }}" title="{{ 'title.app_register'|trans }}">{{ 'title.app_register'|trans }}</a>
            </li>
        </ul>
    </nav> #}

{% endblock %}